@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.body {
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
}

{
  margin: 0;
  font-size: 16px;
  background-color: #009688;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

{
  box-sizing:border-box;
  margin:0;
  padding:0;
  outline:none;
}


/* class="home-box custom-box" */

.custom-box{
  max-width: 700px;
  background-color: #ffffff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10%;
}
.custom-box::before,
.custom-box::after{
  content: '';
  clear: both;
  display: table;
}
.custom-box.hide{
  display: none;
}
.home-box h3{
font-size: 18px;
color: #000;
font-weight: 500;
margin-bottom: 15px;
line-height: 25px;
}

.home-box p{
font-size: 16px;
margin-bottom: 10px;
line-height: 22;
color:#000;
font-weight: 400;
}

.home-box p span{
  font-weight: 500;
}
.home-box .btn{
  margin-top: 20px;
}
.btn{
  padding: 15px 45px;
  background-color: #009688;
  color:#ffffff;
  border:none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}
.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answer-indicator{
  width: 100%;
  float: left;
}
.quiz-box .question-number{
  font-size: 18px;
  color:#009688;
  font-weight: 600;
  border-bottom:1px solid #ccc;
  padding-bottom: 10px;
  line-height: 25px;
}
.quiz-box .question-text{
font-size: 22px;
color: #000;
line-height: 28px;
font-weight: 400;
padding: 20px 0;
margin:0;
}

.quiz-box .option-container .option{
    background-color: #ccc;
    padding: 15px;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }

.quiz-box .btn{
  margin:15px 0;
}
.quiz-box .answer-indicator{
  border-top: 1px solid #ccc
}

.quiz-box .answer-indicator div{
height: 40px;
width: 40px;
display: inline-block;
background-color: #ccc;
border-radius: 50%;
margin-right: 3px;
margin: 15px;
}

.result-box{
text-align: center;
}

.result-box.hide{
  display: none;
  }

.result-box h1{
  font-size: 36px;
  line-height: 42px;
  color: #009688;
}
.result-box table{
  width: 100%;
  border-collapse: collapse;
  margin:30px 0;
}

.result-box table td{
  border:1p solid #ccc
  padding:8px 15px;
  font-weight:500;
  color: #000;
  width: 50%;
  text-align: left;
  font-size: 18px;
}
.result-box .btn{
  margin-right: 20px;
}

.instruction {
  width: 100%;
  background-color: #ada5dd;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 34px;
  
}

.instruction-h {

font-weight: bolder;
text-align: center;

color: white;

}

.instruction-p {


color: whitesmoke;

}

.instruction-btn {

  width: 200px;
  height: 44px;
  border-radius: 20px;
  background-color: #ffff;
  border-width: 0px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;



}