.btn {
  padding: 15px 45px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  margin: 20px;

}


.custom-box .btn{
  margin: auto;
  display: block;
}

.quiz-box .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}