
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;

  margin-top: 0px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: #009688;
  font-weight: 600;
  background-color: lightseagreen;
}
a {
  text-decoration: none;
  font-size: 22px;
  color:white;
  padding: 10px;
}
