.right-answer {
  display: inline-block;
  margin: 5px;
  background-color: green;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.wrong-answer {
  display: inline-block;
  margin: 5px;
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.neutral {
  display: inline-block;
  margin: 5px;
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.progress-bar {
  display: inline-block;
}
