.right {
  background-color: green;
  padding: 15px;
  font-size: 20px;
  line-height: 22px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: bolder;
}
.wrong {
  background-color: red;
  padding: 15px;
  font-size: 18px;
  line-height: 22px;
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: capitalize;
}