.result-box h1 {
  font-size: 36px;
  line-height: 42px;
  color: #009688;
}

.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin: 30px 0;
}

.result-box table td {
  border: 1px solid #ccc;
  padding: 8px 15px;
  font-weight: 500;
  color: #000;
  width: 50%;
  text-align: left;
  font-size: 18px;
}
