.description {
  font-size: 22px;
  color: #000;
  line-height: 22px;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

.title-header {
  margin-top: 50px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  color: #009688;
  font-weight: 600;

}

